<nav class="bg-blue-500 p-4">
  <div class="container mx-auto flex items-center justify-between">
    <a href="#" class="text-xl font-bold text-white">Dad Jokes</a>
    <!-- <ul class="flex space-x-4">
      <li><a href="#" class="text-white hover:text-gray-200">About</a></li>
      <li>
        <a href="#" class="text-white hover:text-gray-200">Documentation</a>
      </li>
    </ul> -->
  </div>
</nav>

<div class="container mx-auto text-center">
  <h3 class="mb-4 text-3xl font-bold">Don't Laugh Challenge</h3>
  <div id="joke" class="joke mb-4 rounded-lg bg-gray-200 p-4">
    <span class="joke-label">{{ joke }}</span>
    <button class="joke-btn" (click)="copyJoke(joke)"> {{ jokeCopied ? "Copied" : "Copy" }} </button>
  </div>
  <button
    id="jokeBtn"
    class="rounded-lg bg-blue-500 px-4 py-2 text-white"
    (click)="fetchJoke()"
  >
    Get Another Joke
  </button>
</div>
