#id_work_days input[type='checkbox'] {
  display: none;
}

#id_work_days span {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #0061f2;
  border-radius: 3px;
  color: #0061f2;
}

#id_work_days input[type='checkbox']:checked + span {
  background-color: #00ac69;
  color: black;
}
